<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='theme-color' content='#000000' />
    <meta
      name='description'
      content='A live pointing poker application in JS and React'
    />
    <link rel='apple-touch-icon' href='logo192.png' />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <!-- <link rel='manifest' href='manifest.json' /> -->
    <title>Pointing Poker</title>
    <script nonce='<?=nonce?>'>globalThis.__webpack_nonce__='<?=nonce?>'</script>

    <!--
      <%= htmlWebpackPlugin.tags.headTags.join('\n    ') %>
    -->
    <link rel='preload' as='script' fetchpriority='low' href='/_next<%= htmlWebpackPlugin.files.js[0] %>'>
    <% for (key in htmlWebpackPlugin.files.js) { %>
      <script type='text/javascript' async nonce='<?=nonce?>' src='/_next<%= htmlWebpackPlugin.files.js[key] %>'></script>
    <% } %>

    <% for (key in htmlWebpackPlugin.files.css) { %>
      <link rel='preload' as='style' href='/_next<%= htmlWebpackPlugin.files.css[key] %>'>
      <link type='text/css' rel='stylesheet' nonce='<?=nonce?>' href='/_next<%= htmlWebpackPlugin.files.css[key] %>'>
    <% } %>

    <!--
      <link rel='preload' as='style' href='<?=flexFrameworkStyles?>'>
      <link type='text/css' rel='stylesheet' nonce='<?=nonce?>' href='<?=flexFrameworkStyles?>'>
    -->

  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id='root'></div>

    <%= htmlWebpackPlugin.tags.bodyTags.join('\n    ') %>

  </body>
</html>
