<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='favicon.ico' />
    <!-- <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
          integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z'
          crossorigin='anonymous'> -->
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='theme-color' content='#000000' />
    <meta
      name='description'
      content='A live pointing poker application in JS and React'
    />
    <link rel='apple-touch-icon' href='logo192.png' />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel='manifest' href='manifest.json' />
    <title>Pointing Poker</title>
    <script nonce='<?=nonce?>'>globalThis.__webpack_nonce__='<?=nonce?>'</script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
      <script type='text/javascript' defer='defer' nonce='<?=nonce?>' src='<%= htmlWebpackPlugin.files.js[key] %>'></script>
    <% } %>
    <link rel='preload' as='style' href='<?=flexFrameworkStyles?>'>
    <link type='text/css' rel='stylesheet' nonce='<?=nonce?>' href='<?=flexFrameworkStyles?>'>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id='root'></div>
  </body>
</html>
