/* @import "./modules/carjager"; */
@import "./modules/poker-face";
/* @import  url('../../../domain-content/content/css/layered-argon-design-system-react.css'); */

@import "tailwindcss/base";
@layer base {
  html {
    font-family: var(--flex-font-family, Commissioner, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  }
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/*
The path you provide to the @config directive is relative to that CSS file,
and will take precedence over a path defined in your PostCSS configuration or in the Tailwind CLI.
*/
/* @config '../../tailwind.config.js'; */

@layer utilities {
  .no-tailwind {
    all: unset;
  }
}
