.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logoBadge:before {
  position: relative;
  content: "";
  display: flex;
  width: 100px;
  height: 55px;
  left: 50%;
  margin-left: -50px;
  background-image: url("./logo_flexiness_2.svg");
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

[data-amplify-authenticator][data-variation=modal] {
  z-index: 11;
}

[data-amplify-authenticator] [data-amplify-form] button[type='submit'].amplify-button.amplify-button--primary {
  background-color: var(--amplify-components-button-primary-background-color);
  border-color: var(--amplify-components-button-primary-border-color);
  color: var(--amplify-components-button-primary-color);
}

[data-amplify-authenticator] [data-amplify-form] button[type='submit'].amplify-button.amplify-button--primary:hover {
  background-color: var(--amplify-components-button-primary-hover-background-color);
  border-color: var(--amplify-components-button-primary-hover-border-color);
  color: var(--amplify-components-button-primary-hover-color);
}

[data-amplify-authenticator] [data-amplify-form] button[type='button'].amplify-button:hover {
  background-color: var(--amplify-components-button-hover-background-color);
  border-color: var(--amplify-components-button-hover-border-color);
  color: var(--amplify-components-button-hover-color);
}

[data-amplify-authenticator] [data-amplify-form][data-amplify-authenticator-forgotpassword] button[type='button'].amplify-button--link {
  display: none;
}

.grid-default > div {
  width: 100%;
}

.react-datepicker__time-container, .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 250px;
}
